<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap" rel="stylesheet">
    <style>
        #root {
            width: 100vw;
            height: 100vh;
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>

<body>
    <div id="root"></div>
</body>
<script src="https://unpkg.com/@zegocloud/zego-uikit-prebuilt/zego-uikit-prebuilt.js"></script>
<script type="module">
    window.onload = async function () {
        function getUrlParams(url) {
            let urlStr = url.split('?')[1];
            const urlSearchParams = new URLSearchParams(urlStr);
            const result = Object.fromEntries(urlSearchParams.entries());
            return result;
        }


        // Generate a Token by calling a method.
        // @param 1: appID
        // @param 2: serverSecret
        // @param 3: Room ID
        // @param 4: User ID
        // @param 5: Username
        const roomID = getUrlParams(window.location.href)['roomID'] || (Math.floor(Math.random() * 10000) + "");
        const userID = '{{vc.batch_instructor.instructor.user.full_name}}'.replaceAll(' ', '_')+'{{vc.batch_instructor.instructor.user.id}}';
        const userName = '{{vc.batch_instructor.instructor.full_name}}' + userID;
        const appID = 1232096783;
        const serverSecret = "1bd3e98aa33d22840154c6c3906d8b10";
        const kitToken = ZegoUIKitPrebuilt.generateKitTokenForTest(appID, serverSecret, roomID, userID, userName);


        const zp = ZegoUIKitPrebuilt.create(kitToken);
        zp.joinRoom({
            container: document.querySelector("#root"),
            sharedLinks: [{
                name: 'Personal link',
                url: window.location.protocol + '//' + window.location.host + window.location.pathname + '?roomID=' + roomID,
            }],
            scenario: {
                mode: ZegoUIKitPrebuilt.VideoConference,
            },

            turnOnMicrophoneWhenJoining: true,
            turnOnCameraWhenJoining: true,
            showMyCameraToggleButton: true,
            showMyMicrophoneToggleButton: true,
            showAudioVideoSettingsButton: true,
            showScreenSharingButton: true,
            showTextChat: true,
            showUserList: true,
            maxUsers: 50,
            layout: "Sidebar",
            showLayoutButton: true,

        });


        const vcId = "{{ vc.id }}";  // conference id from template

        try {
            const response = await fetch(`/conference/save_meeting_code/${vcId}/`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": '{{csrf_token}}',
                },
                body: JSON.stringify({ meeting_code: roomID }),
            });

            const result = await response.json();
            if (result.success) {
                console.log("Meeting code saved:", roomID);
            } else {
                console.error("Error:", result.error);
            }
        } catch (err) {
            console.error("Request failed:", err);
        }
    }

</script>

</html>